/* body {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px;
} */

.cup {
  height: 140px;
  width: 180px;
  border: 6px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0px 0px 70px 70px;
  background: url(coffee.png);
  box-shadow: 0px 0px 0px 6px white;
  background-repeat: repeat-x;
  background-position: 0px 140px;
  animation: fill 5s infinite;
}

.handle {
  height: 70px;
  width: 40px;
  background-color: transparent;
  border: 6px solid #000;
  position: relative;
  left: 186px;
  top: 2px;
  border-radius: 0px 25px 80px 0px;
}

@keyframes fill {
  0% {
    background-position: 0px 140px;
  }
  20% {
    background-position: -450px 100px;
  }
  40% {
    background-position: -900px 50px;
  }
  80% {
    background-position: -1350px -40px;
  }
  100% {
    background-position: 0px 140px;
  }
}
